{% extends 'frontendLayout.html' %}
{% load bootstrap %}
{% block title %}
<title>Neplabs</title>
{% endblock%}

{% block content %}
<h1 class="text-center  mt-5">Password Reset</h1>
<div class="container">
    <div class="row ">

        <div class="col-md-8 offset-md-2 border">
            

            <p class="mt-3">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.</p>
            <form method="post">

                {% csrf_token %}
                {{form | bootstrap_horizontal}}
                <input type="Submit" class="btn btn-primary mt-3 mb-3" name="Send email" value="Submit Email">
            </form>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter Your Email';
</script>
{% endblock %}