{% extends 'frontendLayout.html' %}
{% block title %}
<title>Neplabs</title>
{% endblock%}

{% block content %}
<div class="container-fluid" id="user-dasboard">
    <div class="row mt-5 d-flex justify-content-around">
        <a href="/distanceCalculator">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/consultation.png" />
                <p>Consultations</p>
            </div>
        </a>
        <a href="">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/examination.png" />
                <p>Diagnostics</p>
            </div>
        </a>
        <a href="">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/syringe.png" />
                <p>Vaccines</p>
            </div>
        </a>
        <a href="/distance_ajax">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/report-card.png" />
                <p>Lab Results</p>
            </div>
        </a>
        <a href="#">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/pharmacy-shop.png" />
                <p>Prescriptions</p>
            </div>
        </a>
        <a href="/addDocuments">
            <div class="container col-md-3 p-3 m-3 text-center" id="card"><img
                    src="https://img.icons8.com/color/48/000000/document--v2.png" />
                <p>Documents</p>
            </div>
        </a>
    </div>
</div>
<div class="container-fluid p-5" id="container-7">
    <div class="row">
        <div class="container col-md-3">
            <h1 class="text-center">Neplabs</h1>
        </div>
        <div class="container col-md-3" id="container-8">
            <span><i class="las la-globe"></i>
                <p>wwww.neplabs.com</p>
            </span>
            <span><i class="las la-phone-volume"></i>
                <p>+977 9810101010</p>
            </span>
            <span><i class="las la-copyright"></i>
                <p>Copyright Neplabs 2021. All rights reserved.</p>
            </span>
        </div>
        <div class="container col-md-3">
            <span><i class="las la-envelope"></i>
                <p>neplabs@gmail.com</p>
            </span>
        </div>
    </div>
</div>
{% endblock %}